<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>API Project: Timestamp Microservice</h2>
        <h3>Example Usage:</h3>
        <ul>
          <li>
            <code>GET<a href="/api/timestamp/2015-12-25"> [project url]/api/timestamp/2015-12-25</a></code></li>
          <li><code>GET<a href="/api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></code></li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000,"natural":"December 25, 2015"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://github.com/VasilisDev">Vasilis Tsakiris</a>
        </p>
      </div>
   </body>

</html>
